<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Page layout component</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
</head>
<body>

<!--content-panel

## Page layout component
Page layout manager

>syntax:  
><code>[off][page-layout parameters] additional css [/page-layout][/off]</code>  
>parameters:

>* media - optional, css media query  
>* scheme - layout scheme  
>* width - optional, layout width  
>* padding - optional, layout width  
>* columns - optional, columns widths  
>location: built-in  

### Schemes

scheme | used parameters
- | -
centered | width, padding, columns

### Examples:

[2-column, center-aligned, fixed width or adaptive layout]({{=$DOC.root}}examples/2-columns-center-aligned.html)

-->


<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>

</body>
</html>