<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>CSS component</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
</head>
<body>


<!--content-panel

## CSS

CSS styles or transformation can be applied to any element of the document. To do this, it is possible to define and use CSS within the marked text.

CSS can be applied directly to the element of a visual component by specifying the class or style, example:

<code>[off][alert warning`display:inline-block; box-shadow:1px 1px 4px #888888;]  
&nbsp;&nbsp;This is an example  
[/alert]
[/off]</code>

[alert warning`display:inline-block; box-shadow:1px 1px 4px #888888;]  
&nbsp;&nbsp;This is an example  
[/alert]

Define styles by using the &lt;style&gt;&lt;/style&gt; tag anywhere in the document. To access a child elements using css selectors when defining style.  

<code>
&lt;style&gt;  
&nbsp;.m41 { display:inline-block; box-shadow:1px 1px 4px #888888; }  
&nbsp;.m41 h3 { color:#428BCA; }  
&lt;/style&gt;  
</code>

Use defined styles of specifying the class name when inserting visual component:  

<code>[off][alert warning`m41]  
&nbsp;&nbsp;### Child element  
[/alert]
[/off]</code>

<style>
.m41 { display:inline-block; padding-top:9px; box-shadow:1px 1px 4px #888888; }
.m41 h3 { color:#428BCA; }
</style>
[alert warning`m41]  
### Child element
[/alert]


To immediate insert style at a specific location you can use built-in component `iblock`, `block` or `text`:

<code>[off][iblock`css style]marked text[/iblock][/off]</code>

<code>[off][block`css style]marked text[/block][/off]</code>

<code>[off][text`css style]marked text[/text][/off]</code>



Example:

<code>[off][iblock`-webkit-transform:rotate(13deg); transform:rotate(13deg);]  
\### Markdown here  
[/iblock][/off]</code>

[iblock`-webkit-transform:rotate(13deg); transform:rotate(13deg);]
### Markdown here
[/iblock]-->






<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>






</body>
</html>