<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Math component</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
</head>
<body>


<!--content-panel

## Math component

The component to insert mathematical formulas in a document. This component uses MathJax.js downloading it from the original cdn.mathjax.org.
If you want to use it in offline mode, you must add the script MathJax.js to the page by using the tag ```<script></script>```.

### <a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/controls.math.zip">Download</a>
>syntax:

><code>[off][math mml] MathML notation [/math]  
>[math tex] TeX notation [/math][/off]</code>  

 example MathML:

[math mml]
  <math display="block">
    <mrow>
      <munderover>
        <mo>&#x2211;[!-- ∑ --]</mo>
        <mrow>
          <mi>n</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi mathvariant="normal">&#x221E;[!-- ∞ --]</mi>
      </munderover>
    </mrow>
    <mrow>
      <mfrac>
        <mn>1</mn>
        <msup>
          <mi>n</mi>
          <mn>2</mn>
        </msup>
      </mfrac>
    </mrow>
    <mo>=</mo>
    <mrow>
      <mfrac>
        <msup>
          <mi>&#x03C0;[!-- π --]</mi>
          <mn>2</mn>
        </msup>
        <mn>6</mn>
      </mfrac>
    </mrow>
  </math>
[/math]

 example TeX:

[math tex]
\frac{1}{\Bigl(\sqrt{\phi \sqrt{5}}-\phi\Bigr) e^{\frac25 \pi}} =
1+\frac{e^{-2\pi}} {1+\frac{e^{-4\pi}} {1+\frac{e^{-6\pi}}
{1+\frac{e^{-8\pi}} {1+\ldots} } } }
[/math]

-->


<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>

</body>
</html>