<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Tabpanel component</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
</head>
<body>

<!--content-panel

## Tabbed panel

>syntax:  
><code>[off][tabpanel][tabpage header="page header text"] page text [/tabpage][/tabpanel][/off]</code>  
>location: built-in  

[tabpanel]
[tabpage header="Lorem ipsum"]
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
[/tabpage]

[tabpage header="Etiam rhoncus" active]
Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
[/tabpage]

[tabpage header="Markup example"]
<code>[off]
[tabpanel]<br><br>
[tabpage header="Page 1 caption"]<br>
&nbsp;&nbsp;page 1 text<br>
[/tabpage]<br><br>
[tabpage header="Page 2 caption" active]<br>
&nbsp;&nbsp;page 2 text<br>
[/tabpage]<br><br>
[/tabpanel]
[/off]</code>
[/tabpage]

[/tabpanel]-->






<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>





</body>
</html>