<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Simple Markdown site template - Alert</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
</head>
<body>


<!--content-panel

## Alert

>syntax:  
><code>[off][alert warning]#### This is an example alert message!<br>
>Lorem ipsum ...[/alert][/off]</code>  
>location: built-in

#### warning
[alert warning]#### This is an example alert message!
***
Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
1. Lorem ipsum
2. Etiam rhoncus
3. Nam pretium turpis et arcu
[/alert]

#### link
[alert link]#### This is an example alert message!
***
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.[/alert]

#### success
[alert success]#### This is an example alert message!
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.[/alert]

#### info
[alert info]#### This is an example alert message!
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.[/alert]

#### danger
[alert danger]#### This is an example alert message!
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.[/alert]


<code>[off][alert danger]&lt;button type="button" class="close" data-dismiss="alert" aria-hidden="true"&gt;×&lt;/button&gt;<br>
&lt;h4&gt;This is an example message!&lt;/h4&gt;Lorem ipsum ...[/alert][/off]</code>

[alert danger]<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>This is an example message!</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.[/alert]-->




<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>



</body>
</html>