<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Code highlighting</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
</head>
<body>

<!--content-panel

## Code highlighting

### <a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/controls.highlight.zip">Download</a>

>syntax:

><code>[off][highlight parameters] highlights code... [/highlight][/off]</code>

>parameters:

>* **lang** - language, see [highlight.js styles](http://softwaremaniacs.org/media/soft/highlight/test.html) or [this page](http://api.yandex.ru/jslibs/libs.xml#highlightjs) for details.  
Languages: **1c, actionscript, apache, avrasm, axapta, bash, cmake, coffeescript, cpp, cs, css, delphi, diff, django, d, dos (batch filse), erlang,
erlang-repl, glsl, go, haskell, http, ini, java, javascript, json, lisp, lua, markdown, matlab, mel, nginx, objectivec, parser3, perl, php,
profile (Python's profiler output), python, rib (RenderMan RIB), r (R), rsl (RenderMan RSL), ruby, rust, scala, smalltalk, sql, tex, 
vala, vbscript, vhdl, xml**
* **style** - style file name, see [highlight.js styles](http://softwaremaniacs.org/media/soft/highlight/test.html) or [this page](http://api.yandex.ru/jslibs/libs.xml#highlightjs) for details. Example: to choose visual style "Solarized - Light" parameter value must be "solarized_light", "Visual Studio" - "vs".  
> Styles: **arta, ascetic, brown_paper, dark, default, far, github, googlecode, idea, ir_black, magula, monokai, pojoaque, school_book, solarized_dark, solarized_light, sunburst, vs, xcode, zenburn**  
Example: [off][highlight lang=javascript style=vs] ... [/highlight][/off]  

>location: components/controls/highlight/


demo, Visual Studio style:

[highlight lang=cs style=vs`transparent bold pad0]for (int i = 0, c = segments.Length; i < c; i++)
{
    string seg = segments[i];

    // Allowed null path, null segment not allowed
    if ((object)seg == null || seg.Length == 0)
        throw new ArgumentException("Path segment cannot be null or empty!");

    len += seg.Length + 1;
}
[/highlight]

[highlight lang=javascript`pad5]module.exports = new Controls(require('dot'));
// browserify support:
if (typeof window !== 'undefined') window.controls = module.exports;
[/highlight]

[highlight lang=css`pad5]@media (max-width: 1024px) {\
    .right-side-bar, .right-side-panel {
        display: block; padding:25px 25px 25px 37px; width: 50%;
    }
    .right-side-panel {
        padding:25px 25px 25px 37px;
    }
}
[/highlight]

-->



<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>


</body>
</html>