<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Emoji component</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
    <script src="controls/emoji/controls.emoji.js"></script>
</head>
<body>





<!--content-panel

## Emoji component
<h3><a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/controls.emoji.zip">Download</a></h3>  

>syntax:  
><code>[off][emoji parameters] :zero: :one: :two: :three:  :four: :five: [/emoji][/off]</code>  
>parameters:

>* size - (16,20,32,64) symbols size in pixels, default value '20'
>* type - (jpg,png) type of images, default value 'jpg'. Jpg better quality, smaller and loads faster, but does not have a transparency and is not suitable for inverse themes.

>location: components/controls/emoji/  


Here is conveniently view http://www.emoji-cheat-sheet.com/  
[a catalog of the emoji data](http://unicodey.com/emoji-data/table.htm)

some example:
[emoji size=16 type=png]:zero:  ```:zero:``` :one:  ```:one:``` :two:  ```:two:``` :three:  ```:three:``` :four:  ```:four:``` :five:  ```:five:```[/emoji]
[emoji size=20 type=png]:zero:  ```:zero:``` :one:  ```:one:``` :two:  ```:two:``` :three:  ```:three:``` :four:  ```:four:``` :five:  ```:five:```[/emoji]
[emoji size=32 type=png]:zero:  ```:zero:``` :one:  ```:one:``` :two:  ```:two:``` :three:  ```:three:``` :four:  ```:four:``` :five:  ```:five:```[/emoji]
[emoji size=64 type=png]
:zero:  ```:zero:``` :one:  ```:one:``` :two:  ```:two:``` :three:  ```:three:``` :four:  ```:four:``` :five:  ```:five:```
:keycap_ten:  ```:keycap_ten:``` :arrow_forward:  ```:arrow_forward:``` :arrow_right:  ```:arrow_right:``` :arrow_upper_left:  ```:arrow_upper_left:``` :arrow_heading_down:  ```:arrow_heading_down:``` :arrow_up_down:  ```:arrow_up_down:``` :abc:  ```:abc:```  
:+1:  ```:+1:``` :-1:  ```:-1:``` :clock10:  ```:clock10:``` :clock5:  ```:clock5:``` :smile:  ```:smile:``` :imp:  ```:imp:```  
:copyright:  ```:copyright:``` :registered:  ```:registered:``` :tm:  ```:tm:```
:vs: :warning: :wheelchair: :zap: :zzz:
[/emoji]
-->


<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>

</body>
</html>