<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>wiki.instaview component - Mediawiki markup</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
</head>
<body>


<!--content-panel

## Mediawiki markup
<h3><a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/wiki.instaview.zip">Download</a></h3>  
>syntax:  
><code>[off][wiki.instaview]marked text[/wiki.instaview][/off]</code>  
>location: components/wiki/instaview/

example text:  

[wiki.instaview]

== Section ==

=== Subsection ===

==== Sub-subsection ====

= Heading =

== Heading ==

=== Heading ===

==== Heading ====

===== Heading =====

====== Heading ======

Horizontal rule
----

Indentation as used on talk pages:
:Each colon at the start of a line
::causes the line to be indented by three more character positions.
:::(The indentation persists
so long as no carriage return or line break is used.)
:::Repeat the indentation at any line break.
::::Use an extra colon for each response.
:::::And so forth ...
::::::And so on ...

<blockquote>
The '''blockquote''' tag will indent both margins when needed instead of the left margin only as the colon does.
</blockquote>

[/wiki.instaview]
-->




<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>

</body>
</html>