<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>YouTube Player component</title>
    <script src="../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
</head>
<body>

<!--content-panel

## YouTube player component
<h3><a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/YouTube.Player.zip">Download</a></h3>  
>syntax:  
><code>[off][YouTube.Player]ID,parameters[/YouTube.Player][/off]</code>  
>location: components/YouTube/Player/  

[YouTube.Player]M7lc1UVf-VE,hd720,400,280[/YouTube.Player]


### Parameters

* videoID {string}
* start {number} - optionalб begin playing the video at the given number of seconds from the start of the video
* quality {default,small,medium,large,hd720,hd1080,highres} - optional
* width - optional, default value 640
* height - optional, default value 390
* command {play} - optional


<code>[off][YouTube.Player]M7lc1UVf-VE[/YouTube.Player][/off]</code>

<code>[off][YouTube.Player]M7lc1UVf-VE,226,large,400,280,play[/YouTube.Player][/off]</code>

<code>[off][YouTube.Player videoID=M7lc1UVf-VE start=226 quality=large width=400 height=280 command=play/][/off]</code>

-->



<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>


</body>
</html>