<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Google Charts component</title>
    <script src="../../document.min.js" userjs="user.js" icon="favicon.ico" id="DOC" onerror="var l=document.createElement('link'),s=document.createElement('script');l.rel='stylesheet';l.href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';l.id='bootstrap.css';l.auto='1';document.head.insertBefore(l,document.getElementById('DOC'));s.src='http://aplib.github.io/document.min.js';document.head.appendChild(s);"></script>
    <script src="PieChart/gcharts.PieChart.js"></script>
</head>
<body>

<!--!header-panel-->
<!--content-panel

## Google Charts

### Pie Chart

### <a class="label label-default" href="http://aplib.github.io/markdown-site-template/components/GoogleCharts.zip">Download</a>
>syntax:  
><code>[off][gcharts.PieChart parameters]data[/gcharts.PieChart][/off]</code>  
>* parameters - [Pie Chart configuration options](https://developers.google.com/chart/interactive/docs/gallery/piechart#Configuration_Options)
>* data - json formatted data array  
>
> [Pie Chart on Google Developers](https://developers.google.com/chart/interactive/docs/gallery/piechart)  

[gcharts.PieChart is3D width=640 height=320]
[
    ["Task", "Hours per Day"],
    ["Work",     11],
    ["Eat",      2],
    ["Commute",  2],
    ["Watch TV", 2],
    ["Sleep",    7]
]
[/gcharts.PieChart]

 example markup:

<code>[off][gcharts.PieChart is3D width=640 height=320][  
&nbsp;["Task", "Hours per Day"],  
&nbsp;["Work",     11],  
&nbsp;["Eat",      2],  
&nbsp;["Commute",  2],  
&nbsp;["Watch TV", 2],  
&nbsp;["Sleep",    7]  
][/gcharts.PieChart]
[/off]</code>

-->


<!--right-side-panel -->

<noscript><div class="alert alert-warning">This Website requires your browser to be JavaScript enabled.</div></noscript>

</body>
</html>